html {
    background-image: url(../images/cleanBg.jpg);
    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

body {
    font-family:'Oxygen Mono', monospace;
    font-size: 25px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px;
}

header {
    display:block;
    width: 100%;
}
nav {
    position:absolute;
    background: rgba(43,43,43,1);
	  background: -moz-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(0,0,0,1) 49%, rgba(89,89,89,1) 88%, rgba(44,44,44,1) 92%, rgba(102,102,102,1) 94%, rgba(71,71,71,1) 100%);
  	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,43,43,1)), color-stop(0%, rgba(17,17,17,1)), color-stop(0%, rgba(19,19,19,1)), color-stop(9%, rgba(28,28,28,1)), color-stop(49%, rgba(0,0,0,1)), color-stop(88%, rgba(89,89,89,1)), color-stop(92%, rgba(44,44,44,1)), color-stop(94%, rgba(102,102,102,1)), color-stop(100%, rgba(71,71,71,1)));
  	background: -webkit-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(0,0,0,1) 49%, rgba(89,89,89,1) 88%, rgba(44,44,44,1) 92%, rgba(102,102,102,1) 94%, rgba(71,71,71,1) 100%);
  	background: -o-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(0,0,0,1) 49%, rgba(89,89,89,1) 88%, rgba(44,44,44,1) 92%, rgba(102,102,102,1) 94%, rgba(71,71,71,1) 100%);
  	background: -ms-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(0,0,0,1) 49%, rgba(89,89,89,1) 88%, rgba(44,44,44,1) 92%, rgba(102,102,102,1) 94%, rgba(71,71,71,1) 100%);
  	background: linear-gradient(to bottom, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(0,0,0,1) 49%, rgba(89,89,89,1) 88%, rgba(44,44,44,1) 92%, rgba(102,102,102,1) 94%, rgba(71,71,71,1) 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#474747', GradientType=0 );
    opacity: .7;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    text-align: center;
}

    nav ul {
        /*border: 1px solid transparent;*/
        display:inline-block;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        opacity: 1;
    }

nav ul li:not(:last-child)::after {
    content: "|";
    float:left;
}

nav ul li{
    display:inline;
	height:100%;
    opacity:1;
}

    nav ul li a {
        display: inline;
        text-decoration: none;
		    font-size: 18px;
        color: white;
        font-weight: 700;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: color .5s ease-in-out;
        opacity:1;
    }

nav ul li a:hover {
    color:gray;

}

span{
    color:white;
    font-size: 18px;
}

main {
  height:1814px;
}

#sidebarLeft {
    float: left;
    height: 1800px;
    width: 290px;
    margin-top: -34px;
    margin-left: 20px;
    opacity: .7;
    background: rgba(117,117,117,1);
	background: -moz-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(230,230,230,1) 0%, rgba(148,148,148,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(117,117,117,1)), color-stop(0%, rgba(230,230,230,1)), color-stop(100%, rgba(148,148,148,1)));
	background: -webkit-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(230,230,230,1) 0%, rgba(148,148,148,1) 100%);
	background: -o-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(230,230,230,1) 0%, rgba(148,148,148,1) 100%);
	background: -ms-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(230,230,230,1) 0%, rgba(148,148,148,1) 100%);
	background: linear-gradient(to bottom, rgba(117,117,117,1) 0%, rgba(230,230,230,1) 0%, rgba(148,148,148,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#949494', GradientType=0 );
}

#sidebarMenu {
    font-family: Arial;
    font-size: 16px;
    list-style-type: none;
    padding: 0px;
    padding-left: 20px;
    background:none;
    border:none;
}

    #sidebarMenu li ul {
        padding: 0px;
        margin: 0px;
    }

    #sidebarMenu li ul li {
        font-family: Arial;
        font-size: 14px;
        color: black;
    }
    .myButton {
        -moz-box-shadow: inset 0px 0px 9px 0px #ffffff;
        -webkit-box-shadow: inset 0px 0px 9px 0px #ffffff;
        box-shadow: inset 0px 0px 9px 0px #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
        background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
        background-color: #ededed;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 2px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #777777;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        height:30px;
        width: 245px;
        padding: 20px;
        text-decoration: none;
        text-shadow: 0px 0px 6px #ffffff;
    }

    .myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
        background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
        background-color: #dfdfdf;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }


h1, h2, h3 {
    margin-left:20px;
}

h1 {
    text-decoration: underline;
    font-family: Arial;
    font-size: 15px;
}

h2{
    font-size:32px;
}

footer {
    font-family: Arial;
    height: 100px;
    width:100%;
    background-color: black;
    opacity:.8;
}

footer ul{
    list-style-type:none;
    text-align:center;
    padding:0px;
    margin:0px;
}

footer ul li{
    display:inline;
}

    footer ul li a {
        font-size:14px;
        text-decoration: none;
        color: gray;
    }

footer ul li a:hover {
    text-decoration: underline;
    color:lightgray;
}

#end{
    display:none;
}
p {
    font-family: Arial;
    font-size: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

#copyright {
    font-family: Arial;
    font-size: 10px;
    color: gray;
    padding: 0px;
    text-align: center;
}
